<section class="p-16 space-y-12 border rounded-xl w-fit">
    <h2 class="text-5xl text-center font-inter">Dashboard</h2>
    <div class="h-fit flex flex-col items-center justify-center gap-6 w-[512px]">
        <p class="text-2xl">Welcome👋 <span id="user">
                <%= firstName %>
            </span></p>

        <div class="w-full">
            <a href="/logout" class="flex gap-2 mx-auto text-black w-fit hover:text-gray-700">Logout <span class="material-symbols-outlined size-6">
                    arrow_forward </span></a>
        </div>
    </div>
</section>