
<section class="p-16 space-y-12 border rounded-xl w-fit">
    <h2 class="text-5xl text-center font-inter">⚠️ Route Not Implemented Yet</h2>
    <div class="h-fit flex flex-col items-center justify-center gap-6 w-[512px]">
    </div>
</section>