<section class="p-16 space-y-12 border-none shadow-sm bg-pink-400/80 rounded-xl w-fit shadow-pink-900/50">
    <h2 class="text-5xl text-center font-inter text-pink-950">Welcome</h2>
    <div class="h-fit flex items-center justify-center gap-6 w-[512px]">
        <a href="/register"
            class="px-5 py-3 transition-all ease-in-out transform bg-pink-900 rounded-lg text-pink-50 hover:text-pink-200 hover:bg-pink-950">Sign
            in</a>
        <a href="/login" class="p-3 px-5 font-semibold text-pink-950 hover:text-pink-800">Login</a>
    </div>
</section>